<div class="row justify-content-center mb-4">
    <div class="col-lg-10">
        <div class="d-flex shadow-sm">
            <!-- Форма поиска -->
            <form method="get" action="{% url 'home' %}" class="d-flex flex-grow-1">
                <input type="text" name="q" class="form-control form-control-lg py-2" 
                       placeholder="Поиск" value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-primary px-3 py-2">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            
            <!-- Форма сортировки -->
            <form method="get" action="{% url 'home' %}" class="ms-2">
                <input type="hidden" name="q" value="{{ request.GET.q }}">
                <div class="input-group h-100">
                    <select name="sort" class="form-select" onchange="this.form.submit()"
                            style="width: auto; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                        <option value="-published_date" {% if request.GET.current_sort == "-published_date" %}selected{% endif %}>
                            <i class="fas fa-arrow-down me-2"></i> Новые
                        </option>
                        <option value="published_date" {% if request.GET.current_sort == "published_date" %}selected{% endif %}>
                            <i class="fas fa-arrow-up me-2"></i> Старые
                        </option>
                        <option value="title" {% if request.GET.current_sort == "title" %}selected{% endif %}>
                            <i class="fas fa-sort-alpha-down me-2"></i> А-Я
                        </option>
                        <option value="-title" {% if request.GET.current_sort == "-title" %}selected{% endif %}>
                            <i class="fas fa-sort-alpha-down-alt me-2"></i> Я-А
                        </option>
                    </select>
                    <span class="input-group-text bg-light border-0">
                        <i class="fas fa-sort"></i>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
